[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
httpx = "*"
pydantic = "*"
transformers = {extras = ["sentencepiece"], version = "*"}
tensorflow = "*"
celery = "*"

[dev-packages]
awscli = "*"
awsebcli = "*"

[requires]
python_version = "3.9"


